<div class="main-content">
  <nav>
    <img src="../../../assets/images/logo.svg" alt="" />
  </nav>
  <div class="main-div">
    <aside>
      <div class="link">
        <a routerLink="/dashboard/admin" routerLinkActive="active-class"
          >Home</a
        >
        <a routerLink="/dashboard/admin/users">Users</a>
        <a routerLink="/dashboard/admin/roles">Roles</a>
        <a routerLink="/dashboard/admin/analytics">Analytics</a>
      </div>
      <div class="profile">
        <div class="avatar">
          <img src="../../../assets/images/avatar.svg" alt="" />
          <span>Admin</span>
        </div>
        <button>
          Logout <img src="../../../assets/images/logout.svg" alt="" />
        </button>
      </div>
    </aside>
    <div class="container">
      <div class="search-container">
        <div class="card-container">
          <div class="card">
            <h4>Total number of users</h4>
            <div class="card-bottom">
              <span>{{ users.data.totalElements }}</span>
              <img src="../../../assets/images/patients.svg" alt="" />
            </div>
          </div>
          <div class="card">
            <h4>Total number of Image Types</h4>
            <div class="card-bottom">
              <span>{{ imageTypes.data.length }}</span>
              <img src="../../../assets/images/tests.svg" alt="" />
            </div>
          </div>
          <div class="card">
            <h4>Total number of insurances</h4>
            <div class="card-bottom">
              <span>{{ insuranceList.data.length }}</span>
              <img src="../../../assets/images/equip.svg" alt="" />
            </div>
          </div>
          <div class="card">
            <h4>Total number of Patients</h4>
            <div class="card-bottom">
              <span>{{patientData.data.totalElements}}</span>
              <img src="../../../assets/images/appointments.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="search-actions">
          <button (click)="openCreateInsurance()">create insurance</button>
          <button (click)="openAddImage()">create image type</button>
          @if (createInsurance) {
          <div class="create-insurance">
            <div class="form-container">
              <form [formGroup]="insuranceForm">
                <div class="form-field">
                  <label for="name">Insurance Name</label>
                  <input
                    id="name"
                    type="text"
                    formControlName="name"
                    placeholder="Enter insurance name"
                  />
                </div>
                <div class="form-field">
                  <label for="rating">Rating</label>
                  <input
                    id="rating"
                    type="number"
                    formControlName="rating"
                    placeholder="Enter rating"
                  />
                </div>
                @if (!isLoading) {
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  (click)="onSubmit()"
                >
                  Submit
                </button>
                }@else {
                <button type="submit"><app-spinner></app-spinner></button>
                }
              </form>
            </div>
          </div>
          } @if (addImage) {
          <div class="create-image">
            <div class="form-container">
              <form [formGroup]="imageForm">
                <div class="form-field">
                  <label for="name">Image type Name</label>
                  <input
                    id="name"
                    type="text"
                    formControlName="name"
                    placeholder="Enter image name"
                  />
                </div>
                <div class="form-field">
                  <label for="totalCost">Total cost</label>
                  <input
                    id="totalCost"
                    type="number"
                    formControlName="totalCost"
                    placeholder="Enter cost"
                  />
                </div>
                @if ( isLoading ) {
                <button type="submit"><app-spinner></app-spinner></button>
                }@else {
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  (click)="onCreateImage()"
                >
                  submit
                </button>
                }
              </form>
            </div>
          </div>

          }
        </div>
      </div>

      <div class="table-grp">
        <h3>Insurances</h3>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            @for (item of insuranceList.data; track $index) {
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.status }}</td>
              <td>{{ item.rate }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="table-grp">
        <h3>Image types</h3>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Total cost</th>
            </tr>
          </thead>
          <tbody>
            @for (item of imageTypes.data; track $index) {
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.status }}</td>
              <td>{{ item.totalCost }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
