<div class="signup-form">
  <h2>Register user</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" formControlName="firstName" required>
    
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" formControlName="lastName" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" required>
    
    <label for="phoneNumber">Phone Number:</label>
    <input type="tel" id="phoneNumber" formControlName="phoneNumber" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" required>
    
    <label for="role">Role:</label>
    <select id="role" formControlName="role" required>
      <option value="">Select your role</option>
      <option [value]="'ADMIN'">Admin</option>
      <option [value]="'TECHNICIAN'">Techinician</option>
      <option [value]="'RADIOLOGIST'">Radiologist</option>
      <option [value]="'QUALITY_ASSURANCE'">Quality assurance</option>
      <option [value]="'FINANCE'">Finance</option>
      <option [value]="'FRONT_DESK'">Frontdesk</option>
    </select>
    @if (isLoading) {
        <button><app-spinner></app-spinner></button>
    }@else {
        <button type="submit">Sign Up</button>
    }
  </form>
</div>
