.signup-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    right: 560px;
    position: absolute;
    z-index: 10;
}

.signup-form h2 {
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-form input,
.signup-form select, input:focus, select:focus {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.signup-form button {
    width: 290px;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #9cb02f;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #9cb02f;
}