<div class="main-content">
  <nav>
    <img src="../../../assets/images/logo.svg" alt="" />
  </nav>
  <div class="main-div">
    <aside>
      <div class="avatar">
        <img src="../../../assets/images/avatar.svg" alt="" />
        <span>Front Desk Staff</span>
      </div>
      <button>
         Logout <img src="../../../assets/images/logout.svg" alt="" />
      </button>
    </aside>
    <div class="registration">
        <h1>Patient Registration and Scheduling</h1>
    <div class="container">
      <form>
        <div class="input-group">
          <label for="input1">Name:</label>
          <input
            type="text"
            id="input1"
            class="input-field"
            placeholder="John Smith"
          />
        </div>
        <div class="input-group">
          <label for="input2">Date of Birth</label>
          <input
            type="text"
            id="input2"
            class="input-field"
            placeholder="1/1/2021"
          />
        </div>
        <div class="input-group">
          <label for="input3">Gender:</label>
          <input
            type="text"
            id="input3"
            class="input-field"
            placeholder="Female"
          />
        </div>
        <div class="input-group">
          <label for="input3">Phone</label>
          <input
            type="text"
            id="input3"
            class="input-field"
            placeholder="11111111"
          />
        </div>
        <div class="input-group">
          <label for="input3">Referring Doctor:</label>
          <input
            type="text"
            id="input3"
            class="input-field"
            placeholder="Dr John Smith"
          />
        </div>
        <div class="input-group">
          <label for="input3">Imaging Modality: </label>
          <select name="" id="">
            <option value="">CT scan</option>
          </select>
        </div>
        <div class="input-group">
          <label for="input3">Insurance Company:</label>
          <select name="" id="">
            <option value="">RAMA</option>
          </select>
        </div>
        <div class="input-group">
          <label for="input3">Insurance ID:</label>
          <input type="text" id="input3" class="input-field" placeholder="" />
        </div>
        <div class="input-group">
          <label for="input3">Appointment Date:</label>
          <input
            type="date"
            id="input3"
            class="input-field"
            placeholder="Input 3"
          />
        </div>
        <div class="input-group">
          <label for="input10">Appointment Time:</label>
          <input
            type="time"
            id="input10"
            class="input-field"
            placeholder="Input 10"
          />
        </div>
        <div class="btn">
          <button>Save and Publish</button>
        </div>
      </form>
      <hr />
      <form>
        <div class="input-group">
          <label for="input1">Name:</label>
          <input
            type="text"
            id="input1"
            class="input-field"
            placeholder="John Smith"
          />
        </div>
        <div class="input-group">
          <label for="input2">Date of Birth</label>
          <input
            type="text"
            id="input2"
            class="input-field"
            placeholder="1/1/2021"
          />
        </div>
        <div class="input-group">
          <label for="input3">Gender:</label>
          <input
            type="text"
            id="input3"
            class="input-field"
            placeholder="Female"
          />
        </div>
        <div class="input-group">
          <label for="input3">Phone</label>
          <input
            type="text"
            id="input3"
            class="input-field"
            placeholder="11111111"
          />
        </div>
        <div class="input-group">
          <label for="input3">Referring Doctor:</label>
          <input
            type="text"
            id="input3"
            class="input-field"
            placeholder="Dr John Smith"
          />
        </div>
        <div class="input-group">
          <label for="input3">Imaging Modality: </label>
          <select name="" id="">
            <option value="">CT scan</option>
          </select>
        </div>
        <div class="input-group">
          <label for="input3">Insurance Company:</label>
          <select name="" id="">
            <option value="">RAMA</option>
          </select>
        </div>
        <div class="input-group">
          <label for="input3">Insurance ID:</label>
          <input type="text" id="input3" class="input-field" placeholder="" />
        </div>
        <div class="input-group">
          <label for="input3">Appointment Date:</label>
          <input
            type="date"
            id="input3"
            class="input-field"
            placeholder="Input 3"
          />
        </div>
        <div class="input-group">
          <label for="input10">Appointment Time:</label>
          <input
            type="time"
            id="input10"
            class="input-field"
            placeholder="Input 10"
          />
        </div>
        <div class="btn">
          <button>Submit</button>
          <button>Notify Patient</button>
        </div>
      </form>
    </div>
</div>
  </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>