<div class="main-content">
  <nav>
    <img src="../../../assets/images/logo.svg" alt="" />
  </nav>
  <div class="main-div">
    <aside>
      <div class="avatar">
        <img src="../../../assets/images/avatar.svg" alt="" />
        <span>Radiologist</span>
      </div>
      <button>
        Logout <img src="../../../assets/images/logout.svg" alt="" />
      </button>
    </aside>
    <div class="studies-container">
      <h1>Patient studies</h1>
      <div class="comment-container">
        <div class="report-container">
          <div class="report-grp">
            <div id="Patient-id">
              <span>Patient ID:</span>
              <span>12A</span>
            </div>
            <div id="Patient-name">
              <span>Patient name:</span>
              <span>John Doe</span>
            </div>
            <button>view information</button>
          </div>
          <div class="report-grp">
            <span id="radio">Radiology</span>
            <button>Make report</button>
          </div>
        </div>
        <div class="comment">
          <div class="comment-grp">
            <img src="../../../assets/images/ct-scan-2.svg" alt="" />
            <input type="text" placeholder="comment" />
          </div>
          <div class="comment-grp">
            <img src="../../../assets/images/ct-scan-2.svg" alt="" />
            <input type="text" placeholder="comment" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div></div>
