<div class="main-content">
  <nav>
    <img src="../../../assets/images/logo.svg" alt="" />
  </nav>
  <div class="main-div">
    <aside>
      <div class="link">
        <a
          routerLink="/dashboard/admin"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a
          routerLink="/dashboard/admin/users"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Users</a
        >
        <a
          routerLink="/dashboard/admin/roles"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Roles</a
        >
        <a
          routerLink="/dashboard/admin/analytics"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Analytics</a
        >
      </div>
      <div class="profile">
        <div class="avatar">
          <img src="../../../assets/images/avatar.svg" alt="" />
          <span>Admin</span>
        </div>
        @if (!isLoading) {
        <button (click)="logout()">
          Logout <img src="../../../assets/images/logout.svg" alt="" />
        </button>
        }@else {
        <button><app-spinner></app-spinner></button>
        }
      </div>
    </aside>
    <div class="container">
      @if (isLoading) {
        <app-spinner></app-spinner>
  }
      @if (users && users.data.content.length > 0  || isLoading) {
      <div class="search-container">
        <h1>Employee & their roles</h1>
        <div class="search-actions">
          <button (click)="refreshPage()">
            <img src="../../../assets/images/refresh.svg" alt="" />
          </button>
          <button (click)="openCreateInsurance()">
            + insurance
          </button>
          <button (click)="openAddImage()">
            + image type
          </button>
          <input type="text" placeholder="Search..." [(ngModel)]="searchText"/>
        </div>
      </div>
      @if (createInsurance) {
        <app-create-insurance></app-create-insurance>
      }
      @if (addImage) {
        <app-addimagetype></app-addimagetype>
      }
      <table>
        <thead>
          <tr>
            <th>Staff ID</th>
            <th>User</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @if (users) { @for (item of users.data.content | FilterPipe:searchText ; track $index) {
          <tr>
            <td>{{ item.id | trim}}</td>
            <td>{{ item.firstName }} {{ item.lastName }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.status }}</td>
            <td class="actions-container">
              <div class="actions">
                <img src="../../../assets/images/ellipsis.svg" alt="" />
              </div>
              <div class="dropdown">
                <h3>Actions</h3>
                <button class="dropdown-btn">
                  <img src="../../../assets/images/edit-icon.svg" alt="" /><span
                    >Edit</span
                  >
                </button>
                <button class="dropdown-btn" (click)="deleteUser(item.id)">
                  <img
                    src="../../../assets/images/delete-icon.svg"
                    alt=""
                  /><span>Delete</span>
                </button>
              </div>
            </td>
          </tr>
          } }
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button class="view-all-btn">
                <img src="../../../assets/images/arrowe-view.svg" alt="" /><span
                  >View all
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    }@else {
      <h1 style="color: red">
        No users found
      </h1>
    }
    </div>
  </div>
</div>
