<div class="main-content">
  <nav>
    <img src="../../../assets/images/logo.svg" alt="" />
  </nav>
  <div class="main-div">
    <aside>
      <div class="link">
        <a
          routerLink="/dashboard/admin"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a
          routerLink="/dashboard/admin/users"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Users</a
        >
        <a
          routerLink="/dashboard/admin/roles"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Roles</a
        >
        <a
          routerLink="/dashboard/admin/analytics"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Analytics</a
        >
      </div>
      <div class="profile">
        <div class="avatar">
          <img src="../../../assets/images/avatar.svg" alt="" />
          <span>Admin</span>
        </div>
        @if (!logoutLoading) {
        <button (click)="logout()">
          Logout <img src="../../../assets/images/logout.svg" alt="" />
        </button>
        }@else {
        <button><app-spinner></app-spinner></button>
        }
      </div>
    </aside>
    <div class="container">
      @if (users && users.data.content.length > 0 || isLoading) {
      <div class="search-container">
        <h1>
          Employee & their roles <span>{{ users.data.totalElements }}</span>
        </h1>
        <div class="search-actions">
          <button (click)="openCreateUser()">register user</button>
          <input type="text" placeholder="Search..." [(ngModel)]="searchText" />
        </div>
      </div>
      @if (createUser) {
      <div class="signup-form">
        <h2>Register user</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <label for="firstName">First Name:</label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            required
          />

          <label for="lastName">Last Name:</label>
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            required
          />

          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" required />

          <label for="phoneNumber">Phone Number:</label>
          <input
            type="tel"
            id="phoneNumber"
            formControlName="phoneNumber"
            required
          />

          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            required
          />

          <label for="role">Role:</label>
          <select id="role" formControlName="role" required>
            <option value="">Select your role</option>
            <option [value]="'ADMIN'">Admin</option>
            <option [value]="'TECHNICIAN'">Techinician</option>
            <option [value]="'RADIOLOGIST'">Radiologist</option>
            <option [value]="'QUALITY_ASSURANCE'">Quality assurance</option>
            <option [value]="'FINANCE'">Finance</option>
            <option [value]="'FRONT_DESK'">Frontdesk</option>
          </select>
          @if (signUpLoading) {
          <button><app-spinner></app-spinner></button>
          }@else {
          <button type="submit">Sign Up</button>
          }
        </form>
      </div>

      }
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @if (users.data) { @for (item of users.data.content | sortByCreatedAt
          | FilterPipe:searchText ; track $index) {
          <tr>
            <td>{{ item.firstName }} {{ item.lastName }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.status }}</td>
            <td class="actions-container">
              <div class="actions">
                <img src="../../../assets/images/ellipsis.svg" alt="" />
              </div>
              <div class="dropdown">
                <h3>Actions</h3>
                @if (item.status === 'ACTIVE') { @if (!statusLoading) {
                <button class="dropdown-btn" (click)="changeStatus(item.id)">
                  <img src="../../../assets/images/edit-icon.svg" alt="" /><span
                    >change status</span
                  >
                </button>
                }@else {
                <button class="dropdown-btn"><app-spinner></app-spinner></button>
                } }@else if (item.status === 'INACTIVE'){ @if (!statusLoading) {
                <button class="dropdown-btn" (click)="activateStatus(item.id)">
                  <img src="../../../assets/images/edit-icon.svg" alt="" /><span
                    >change status</span
                  >
                </button>
                }@else {
                <button><app-spinner></app-spinner></button>
                } }
                <button class="dropdown-btn" (click)="deleteUser(item.id)">
                  <img
                    src="../../../assets/images/delete-icon.svg"
                    alt=""
                  /><span>Delete</span>
                </button>
              </div>
            </td>
          </tr>
          } }
        </tbody>
      </table>
      <app-pagination
        [currentPage]="page"
        [totalPages]="users.data.totalPages"
        (pageChanged)="onPageChanged($event)"
      ></app-pagination>
      }@else {
      <h1 style="color: red">No users found</h1>
      }
    </div>
  </div>
</div>
