<div class="main-content">
  <nav>
    <img src="../../../assets/images/logo.svg" alt="" />
  </nav>
  <div class="main-div">
    <aside>
        <img src="../../../assets/images/patient-checki-in.svg" alt="">
        <img src="../../../assets/images/patient-checki-in.svg" alt="">
        <img src="../../../assets/images/patient-checki-in.svg" alt="">
        <img src="../../../assets/images/patient-checki-in.svg" alt="">
    </aside>
    <div class="registration">
      <h1>Patient Registration and Scheduling</h1>
      <div class="container">
        <form>
          <div class="input-group">
            <label>Patient Names:</label>
            <input type="text" class="input-field" placeholder="John Smith" />
          </div>
                 <div class="input-group">
            <label for="input3">Insurance Company:</label>
            <select name="" id="">
              <option value="">RAMA</option>
            </select>
          </div>
          <div class="input-group">
            <label for="input3">Insurance ID:</label>
            <input type="text" id="input3" class="input-field" placeholder="" />
          </div>
          <div class="input-group">
            <label for="input3">Referring Doctor:</label>
            <input
              type="text"
              id="input3"
              class="input-field"
              placeholder="Dr John Smith"
            />
          </div>
          <div class="input-group">
            <label for="input3">Imaging Modality: </label>
            <select name="" id="">
              <option value="">CT scan</option>
            </select>
          </div>
          <div class="btn">
            <button>Check-In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div></div>
