<div class="main-content">
    <nav>
      <img src="../../../assets/images/logo.svg" alt="" />
    </nav>
    <div class="main-div">
      <aside>
        <div class="avatar">
          <img src="../../../assets/images/avatar.svg" alt="" />
          <span>Front Desk Staff</span>
        </div>
        <button>
          Logout <img src="../../../assets/images/logout.svg" alt="" />
        </button>
      </aside>
      <div class="registration">
          <h1>Appointment Confirmation</h1>
      <div class="container">
        <div class="info">
            <strong>Patient Name:</strong>
            <strong>John Doe</strong>
        </div>
        <div class="info">
            <strong>Appointment Date:</strong>
            <strong>John Doe</strong>
        </div>
        <div class="info">
            <strong>Gender:</strong>
            <strong>John Doe</strong>
        </div>
        <div class="info">
            <strong>Patient Name:</strong>
            <strong>John Doe</strong>
        </div>
        <div class="info">
            <strong>Patient Name:</strong>
            <strong>John Doe</strong>
        </div>
        <div class="info">
            <strong>Patient Name:</strong>
            <strong>John Doe</strong>
        </div>
        <button>Initiate Image Aquisition</button>
      </div>
  </div>
    </div>
  </div>
  <div>
  </div>