<div class="main-content">
    <nav>
      <img src="../../../assets/images/logo.svg" alt="" />
    </nav>
    <div class="main-div">
      <aside>
        <div class="avatar">
          <img src="../../../assets/images/avatar.svg" alt="" />
          <span>Front Desk Staff</span>
        </div>
        <button>
          Logout <img src="../../../assets/images/logout.svg" alt="" />
        </button>
      </aside>
      <div class="registration">
          <h1>Appointment Confirmation</h1>

      <div class="container">
        <!-- @if (appoinmentData) {
          <div class="info">
            <strong>{{appoinmentData.patientId}}</strong>
            <strong>John Doe</strong>
          </div>
        } -->
        <div class="info">
          <strong>Patient Name:</strong>
          <strong>{{appoinmentData.data.patient.firstName}} {{appoinmentData.data.patient.lastName}}</strong>
        </div>
        <div class="info">
        <strong>Appointment Date:</strong>
            <strong>{{appoinmentData.data.date}}</strong>
        </div>
        <div class="info">
            <strong>Insurance company:</strong>
            <strong>{{appoinmentData.data.insurance.name}}</strong>
        </div>
        <div class="info">
            <strong>Insurance ID:</strong>
            <strong>{{appoinmentData.data.insurance.id | trim}}</strong>
        </div>
        <div class="info">
            <strong>Refering Doctor:</strong>
            <strong>{{appoinmentData.data.radiologist.fullName}}</strong>
        </div>
        <button>Initiate Image Aquisition</button>
      </div>
  </div>
    </div>
  </div>
  <div>
  </div>