.main-content {
  width: 100%;
  height: 100vh;
  background-color: #4e5b09;
}
nav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: #4e5b09;
}
nav img {
  margin-left: 20px;
}
.main-div {
  display: flex;
  background-color: #ddd;
  align-items: center;
  height: 950px;
}

aside {
  width: 200px;
  height: 100vh;
  background-color: #fcf7ea;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
}

aside .avatar {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.avatar img {
  width: 48px;
  height: 38px;
}
.avatar span {
  font-size: 13px;
  text-transform: capitalize;
}
aside button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  height: 27px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000;
}
.registration {
  margin: 0 auto;
  height: 100%;
}

.registration h1 {
  margin: 10px 0;
  text-align: center;
}
.container {
  position: relative;
  width: 700px;
  height: fit-content;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin:6rem auto 0 8rem;
  border-radius: 18px;
  background-color: #fff;
}
.info {
  width: 80%;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.info strong:nth-child(2){
  width: 200px;
}

.info strong {
  text-transform: capitalize;
}

button {
  width: 280px;
  height: 37px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  color: #fff;
  background-color: #9cb02f;
  margin-bottom: 10px;
  cursor: pointer;
}
.Radiology {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.Radiology-images {
  display: flex;
  flex-direction: column;
  width: 362px;
}
.Radiology-btn {
  background-color: #fcf7ea;
  height: 78px;
  color: #000;
  border-radius: 10px 10px 0 0;
  width: 100%;
  font-size: 30px;
  font-weight: 500;
}

.report {
  margin: 0 auto;
  width: 900px;
  height: 428px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.report-grp {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 40px 0 0 0;
  justify-content: space-evenly;
}

.report-grp img {
  width: 314px;
}
.report-grp p {
  width: 471px;
  font-size: 20px;
  font-weight: bold;
}

.final-remark{
  max-width: 200px;
  max-height: 100px;
  overflow: auto;
}

.error {
  color: red;
  font-size: 14px;
  margin: 0 0 0 8rem;
}

.error button{
  width: fit-content;
  color: #9cb02f;
  background-color: transparent;
}