<main class="main-content">
  <section class="hero-section">
    <header class="hero-header">
      A Git-Inspired Assignment Submission System
    </header>
    <p class="hero-description">
      Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
      libero et velit interdum, ac aliquet odio mattis. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
    <img src="../../../assets/images/lock.svg" alt="Educational Illustration" class="hero-image" />
  </section>
  <aside class="login-form">
    <form class="form" [formGroup]="LoginForm">
      <h2 class="form-title">Login Form</h2>
      <div class="input-group">
        <label for="email" class="visually-hidden">Email:</label>
        <input
          type="email"
          id="email"
          placeholder="Email"
          class="input-field"
          aria-label="Email"
          formControlName="email"
        />
      </div>
      <div class="input-group">
        <label for="password" class="visually-hidden">Password</label>
        <input
          type="{{hidePassword ? 'text':'password'}}"
          id="password"
          placeholder="Password"
          class="input-field"
          aria-label="Password"
          formControlName="password" 
        />
        <img src="../../../assets/images/eye.svg" alt="" class="eye" (click)="togglePassword()" />
    </div>
    @if (error) {
      <span class="error">{{error}}</span>
    }
        @if (!isLoading) {
            <button type="submit" class="submit-button" (click)="login()">Login</button>
        }
        @else{
            <button class="submit-button"><app-spinner></app-spinner></button>
        }
    </form>
  </aside>
</main>
