.main-content {
  width: 100%;
  height: 100vh;
}
nav {
  background-color: #4e5b09;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 10;
}
nav img {
  margin-left: 20px;
}
.main-div {
  display: flex;
  background-color: #ddd;
  align-items: center;
}

aside {
  width: 200px;
  height: 100vh;
  background-color: #fcf7ea;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1;
  justify-content: end;
  align-items: center;
}

aside .avatar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.avatar img {
  width: 48px;
  height: 38px;
}
.avatar span {
  font-size: 13px;
  text-transform: capitalize;
}
aside button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  height: 27px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000;
}
.container {
  position: relative;
  width: 900px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px auto 10px auto;
  padding: 10px 0;
  border-radius: 18px;
  background-color: #fff;
}
.info {
  width: 60%;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.container button {
  position: absolute;
  top: -20px;
  height: 40px;
  cursor: pointer;
  width: 314px;
  border-radius: 5px;
  background-color: #4e5b09;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.studies-container {
  width: 80%;
  height: 100vh;
  margin: 70px auto;
  background-color: #ddd;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  left: 4rem;
}
h1 {
  text-align: center;
  margin: 10px;
}
.comment-container {
  width: 100%;
  height: 100%;
}
.report-container {
  width: 100%;
  height: 180px;
  display: grid;
}
.report-grp {
  width: 100%;
  height: 63px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 0 30px;
  box-sizing: border-box;
}
.comment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.comment .comment-grp {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.comment .comment-grp img {
  width: 314px;
  height: 146px;
}
.comment-grp textarea {
  width: 361px;
  height: 97px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  box-sizing: border-box;
  color: #928f8f;
  font-size: 20px;
}

.comment-grp textarea:focus {
  outline: none;
}
#Patient-id {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.report-grp #Patient-id span:nth-child(1) {
  font-weight: bold;
  font-size: 24px;
}
.report-grp #Patient-id span:nth-child(2) {
  font-size: 24px;
}
#Patient-name {
  width: 350px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

#Patient-name span:nth-child(1) {
  font-weight: bold;
  font-size: 24px;
}
#Patient-name span:nth-child(2) {
  font-size: 24px;
}
#radio {
  font-weight: bold;
  font-size: 24px;
}
.report-grp button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 38px;
  border: none;
  border-radius: 8px;
  background-color: #4e5b09;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  cursor: pointer;
  width: 314px;
  border-radius: 5px;
  background-color: #4e5b09;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.radiology-container{
  min-height: 250px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  background-color: #ddd;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.radiology-container textarea, textarea:focus {
  width: 200px;
  height: 80px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  outline: none;
}

.comment-user {
  max-width: 500px;
  height: fit-content;
}
.comment-user h2 {
  font-size: 18px;
}
.radiology-container p {
  font-weight: 500;
  font-size: 16px;
  margin: 10px 0;
}