<div class="main-content">
  <nav>
    <img src="../../../assets/images/logo.svg" alt="" />
  </nav>
  <div class="main-div">
    <aside>
      <div class="link">
        <a
          routerLink="/dashboard/admin"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a
          routerLink="/dashboard/admin/users"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Users</a
        >
        <a
          routerLink="/dashboard/admin/roles"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Roles</a
        >
        <a
          routerLink="/dashboard/admin/analytics"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Analytics</a
        >
      </div>
      <div class="profile">
        <div class="avatar">
          <img src="../../../assets/images/avatar.svg" alt="" />
          <span>Admin</span>
        </div>
        <button>
          Logout <img src="../../../assets/images/logout.svg" alt="" />
        </button>
      </div>
    </aside>
    <div class="container">
      <div class="search-container">
        <h1>Roles & Permissions</h1>
        <div class="search-actions">
          <input type="search" placeholder="Search..." />
          <button class="new-role" (click)="openAddRoleDialog()">
            + New Role
          </button>
        </div>
        @if (addRole) {
        <div class="create-role">
          <div class="close">
            <h2>Add role</h2>
            <button (click)="closeAddRoleDialog()">
              <img src="../../../assets/images/close.svg" alt="" />
            </button>
          </div>
          <form action="">
            <div class="form-grp">
              <label for="name">Name</label>
              <span>Required</span>
              <input type="text" />
            </div>
            <div class="form-grp">
              <label for="description">Description</label>
              <span>Required</span>
              <input type="text" id="desc" />
            </div>
            <div class="form-grp">
              <label for="status">Status</label>
              <span>Required</span>
              <input type="checkbox" />
            </div>
            <div class="btn">
              <button>Cancel</button>
              <button>Save</button>
            </div>
          </form>
        </div>
        }
      </div>
      <table>
        <thead>
          <tr>
            <th>Role ID</th>
            <th>Description</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for (item of tableData; track $index) {
          <tr>
            <td>{{ item.roleId }}</td>
            <td>
              <li>
                {{ item.description }}
              </li>
            </td>
            <td>{{ item.role }}</td>
            <td>{{ item.status }}</td>
            <td class="actions-container">
              <div class="actions">
                <img src="../../../assets/images/ellipsis.svg" alt="" />
              </div>
              <div class="dropdown">
                <h3>Actions</h3>
                <button class="dropdown-btn">
                  <img src="../../../assets/images/edit-icon.svg" alt="" /><span
                    >Edit</span
                  >
                </button>
                <button class="dropdown-btn">
                  <img
                    src="../../../assets/images/delete-icon.svg"
                    alt=""
                  /><span>Delete</span>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
        <button class="view-all-btn">
          <img src="../../../assets/images/arrowe-view.svg" alt="" /><span
            >View all
          </span>
        </button>
      </table>
    </div>
  </div>
</div>
