.main-content {
  width: 100%;
  height: 100vh;
  background-color: #4e5b09;
}
nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #4E5B09;
  position: fixed;
  top: 0;
  z-index: 10;
}
nav img {
  margin-left: 20px;
}
.main-div {
  display: flex;
  background-color: #ddd;
  align-items: center;
  height: 790px;
  margin-top: 50px;
}

aside {
  width: 200px;
  height: 100vh;
  background-color: #fcf7ea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
}

aside .avatar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.avatar img {
  width: 48px;
  height: 38px;
}
.avatar span {
  font-size: 13px;
  text-transform: capitalize;
}
aside button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  height: 27px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000;
}

aside .link {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
}
.link a {
  height: 37px;
  width: 188px;
  margin-top: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-left: 30%;
  box-sizing: border-box;
  border-radius: 4px;
}
.active-class {
  background-color: #e7eced;
}
.profile {
  height: 100px;
}
.container {
  width: 80%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 6rem;
  margin: 0 auto;
}

table {
  position: relative;
  height: 500px;
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
}

table thead tr {
  background-color: #fafbff;
  color: #000;
  text-align: left;
  font-weight: bold;
}

table th {
  border-radius: 8px 8px 0px 0px;
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #e6e8f0;
}

table tbody td {
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.actions {
  display: flex;
  width: 50px;
  height: 50px;
}

.edit-btn,
.delete-btn {
  background-color: #009879;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn {
  background-color: #d9534f;
}

.edit-btn:hover,
.delete-btn:hover {
  opacity: 0.8;
}

.view-all-btn {
  width: 195px;
  height: 40px;
  background-color: #9cb02f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  box-shadow: 0 4px 10px rgba(255, 2, 0, 0.3);
}
.search-actions .new-role {
  width: 195px;
  height: 40px;
  background-color: #9cb02f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(255, 2, 0, 0.3);
}

.view-all-btn:hover {
  opacity: 0.8;
}

.actions-container {
  position: relative;
  cursor: pointer;
}
.dropdown {
  display: none;
  position: absolute;
  width: 156px;
  height: 120px;
  background-color: white;
  border-radius: 8px;
  z-index: 1;
  top: 20px;
  right: 30px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
}

.dropdown h3 {
  height: 40px;
  display: flex;
  align-items: center;
  color: #8f95b2;
  font-size: 16px;
  padding-left: 3px;
  font-weight: 400;
}
.dropdown button:nth-child(2) {
  background-color: #9cb02f;
  border-left: 2px solid #d9534f;
  color: white;
}
.dropdown-btn {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-btn img,
span {
  margin-left: 13px;
}
.dropdown button:nth-child(3):hover {
  border-left: 2px solid #dd5928;
  background-color: #dd5928;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  color: white;
}

.actions-container:hover .dropdown {
  display: block;
}

.search-container {
  width: 100%;
  height: 60px;
  margin-top: -7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-container h1 {
  font-size: 16px;
  font-weight: bold;
}

.search-actions {
  width: 40%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-actions input[type="search"] {
  width: 192px;
  height: 40px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
}

.search-actions input[type="search"]:focus {
  outline: none;
}

.search-actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.create-role{
    width: 475px;
    height: 409px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 10;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.create-role .close {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.create-role .close button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.create-role form {
    margin-top: 1rem;
    width: 100%;
    height: 80%;
    display: grid;
}

.create-role form .form-grp{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.form-grp label {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}
.form-grp span {
    position: absolute;
    padding:5px 10px;
    border-radius: 8px;
    background-color: #F9DADA;
    right: 0;
    color: #D14343;
}
form .form-grp input[type="text"], input:focus {
    width: 443px;
    height: 40px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #D8DAE5;
    outline: none;

}
#desc {
    height: 84px;
}
.form-grp input[type="checkbox"]{
    margin-top: 15px;
    height: 28px;
    width: 36px;
}

form .btn {
    display: flex;
    justify-content: right;
    font-size: 16px;
    margin-top: 10px;
}

.btn button:nth-child(1) {
    margin-left: 20px;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: #DD5928;
    cursor: pointer;
}
.btn button {
    width: 69px;
    height: 40px;
}
.btn button:nth-child(2) {
    margin-left: 20px;
    background-color: #4E5B09;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
}