<div class="main-content">
  <nav>
    <img src="../../../assets/images/radiology-logo.jpg" alt="" />
  </nav>
  <div class="main-div">
    <aside>
      <div class="link">
        <a
          routerLink="/dashboard/admin"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a
          routerLink="/dashboard/admin/users"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Users</a
        >
        <a
          routerLink="/dashboard/admin/roles"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Roles</a
        >
        <a
          routerLink="/dashboard/admin/analytics"
          routerLinkActive="active-class"
          [routerLinkActiveOptions]="{ exact: true }"
          >Analytics</a
        >
      </div>
      <div class="profile">
        <div class="avatar">
          <img src="../../../assets/images/avatar.svg" alt="" />
          <span>Admin</span>
        </div>
        <button (click)="logout()">
          Logout <img src="../../../assets/images/logout.svg" alt="" />
        </button>
      </div>
    </aside>
    <div class="container">
      @if (!isLoading) {
      <div class="search-container">
        <h1>
          Roles & Permissions <span>{{ tableData.data.content.length }}</span>
        </h1>
        <div class="search-actions">
          <input type="search" placeholder="Search..." [(ngModel)]="seartchText"/>
          <select [formControl]="roleControl" (change)="change()">
            <option [value]="'ADMIN'">Admin</option>
            <option [value]="'TECHNICIAN'">Techinician</option>
            <option [value]="'RADIOLOGIST'">Radiologist</option>
            <option [value]="'QUALITY_ASSURANCE'">Quality assurance</option>
            <option [value]="'FINANCE'">Finance</option>
            <option [value]="'FRONT_DESK'">Frontdesk</option>
          </select>
        </div>
      </div>
      @if (tableData.data && tableData.data.content.length > 0) {
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Role</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          @for (item of tableData.data.content | FilterPipe: seartchText; track $index) {
          <tr>
            <td>{{ item.fullName }}</td>
            <td>
              {{ item.email }}
            </td>
            <td>{{ item.phoneNumber }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.status }}</td>
          </tr>
          }
        </tbody>
      </table>
      }}@else {
        <app-spinner></app-spinner>
      }
    </div>
  </div>
</div>
