<div class="main-content">
  <nav>
    <img src="../../../assets/images/radiology-logo.jpg" alt="" />
    <img
      src="../../../assets/images/hamburger.svg"
      alt=""
      (click)="toggleSidebar()"
      class="hamburger"
    />
  </nav>
  <div class="main-div">
    <app-sidebar
      [isSidebarOpen]="isSidebarOpen"
      (sidebarToggled)="viewSidebar($event)"
      r
    ></app-sidebar>
    <div class="container">
      <div class="search-container">
        <h1>
          Roles & Permissions @if (tableData) {
          <span>{{ tableData.data.content.length }}</span>
          }@else {
          <span>0</span>
          }
        </h1>
        @if (isLoading) {
        <app-spinner></app-spinner>
        }
        <div class="search-actions">
          <input
            type="search"
            placeholder="Search..."
            [(ngModel)]="seartchText"
          />
          <select [formControl]="roleControl" (change)="change()">
            <option [value]="'ADMIN'">Admin</option>
            <option [value]="'TECHNICIAN'">Techinician</option>
            <option [value]="'RADIOLOGIST'">Radiologist</option>
            <option [value]="'QUALITY_ASSURANCE'">Quality assurance</option>
            <option [value]="'FINANCE'">Finance</option>
            <option [value]="'FRONT_DESK'">Frontdesk</option>
          </select>
        </div>
      </div>
      @if (tableData.data && tableData.data.content.length > 0) {
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone number</th>
              <th>Role</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            @for (item of tableData.data.content | FilterPipe: seartchText;
            track $index) {
            <tr>
              <td>{{ item.fullName }}</td>
              <td>
                {{ item.email }}
              </td>
              <td>{{ item.phoneNumber }}</td>
              <td>{{ item.role }}</td>
              <td>{{ item.status }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <app-pagination
        [totalPages]="tableData.data.totalPages"
        [currentPage]="page"
        (pageChanged)="onPageChange($event)"
      ></app-pagination>
      }
    </div>
  </div>
</div>
